# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Model cache
models_cache/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sample/

# Testing & Caches
.pytest_cache/
*.log
.coverage
htmlcov/

